@import "header/big_header.scss";
@import "footer/newFooter.scss";
@import "template/template.scss";
@import "template/fancybox.scss";
@import "template/policy_content.scss";

// crypto_software
@import "crypto_software/main_screen.scss";
@import "crypto_software/flexible.scss";
@import "crypto_software/machins.scss";
@import "crypto_software/liq.scss";
@import "crypto_software/extra_form.scss";
@import "crypto_software/business.scss";
@import "crypto_software/rew.scss";
@import "crypto_software/faq.scss";

// webinars
@import "webinars/main_screen.scss";
@import "webinars/web_topics.scss";
@import "webinars/host.scss";
@import "webinars/for_web.scss";
@import "webinars/about_web.scss";
@import "webinars/after_web.scss";
@import "webinars/soft_web.scss";
