extends template/main

block variables
	- var title = 'Brokerage Business Policy'
	- var pageClass = 'webinars small_header_page small_footer_page policy_page'
	- var smallPagePolicy2 = true

block content
	include modules/policy/cookie_policy_content_web