header.small_header
    .big_container
        img.small_header__logo(src="images/small_logo.svg", alt="logo")
        ul.small_header__menu
            li.small_header__item
                a.ahor_btn--js(href=".soft_business") Features
            li.small_header__item
                a.ahor_btn--js(href=".liq__section") Why us?
            li.small_header__item
                a.ahor_btn--js(href=".soft__faq") FAQ
            li.small_header__item
                a.new_green_bord_btn.web_form_btn2--js(href="#") Try free demo