header.small_header.small_header_web
    .big_container
        img.small_header__logo(src="images/small_logo.svg", alt="logo")
        ul.small_header__menu
            li.small_header__item
                a.ahor_btn--js(href=".web_topics__section") Agenda
            li.small_header__item
                a.ahor_btn--js(href=".host__section") Speaker
            li.small_header__item
                a.ahor_btn--js(href=".about_web__section")  About our webinars
            li.small_header__item
                a.new_green_bord_btn.web_form_btn2--js(href="#") Request a callback 