.section.small__title.after__web__section
    .container 
        .section__title #[span(class="section__title--bold") What will you get] after the webinar? 
        .after__web We will send you a replay and will give you #[span(class="db")] #[span(class="after__web__big") 10% discount] on setup.
        <svg class="after__web__icon" width="37" height="13" viewBox="0 0 37 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.8999 6.70867C12.8999 10.0164 10.2181 12.6979 6.90992 12.6979C3.60174 12.6979 0.919922 10.0164 0.919922 6.70867C0.919922 3.40093 3.60174 0.719482 6.90992 0.719482C10.2181 0.719482 12.8999 3.40093 12.8999 6.70867Z" fill="#0ABE98"/>
            <ellipse cx="18.8899" cy="6.70867" rx="5.99" ry="5.98919" fill="#28F3C8"/>
            <ellipse cx="30.8699" cy="6.70867" rx="5.99" ry="5.98919" fill="#7DFFE0"/>
        </svg>
